<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="cv">
    <div class="my-auto">
        <h2 class="mb-3">Download CV / Resume</h2>
        <p class="lead text-dark bg-primary-very-opaque p-3">
            You can download my <span class="bold-text">CV <a href="https://www.dropbox.com/scl/fi/t9ep5hfm6wlmyix17dzqx/Jacobs_CV_2023-09-10.pdf?rlkey=g88ma5smacduxv2bdf3l0tlsp&dl=1" target="_blank" rel="noopener noreferrer">here</a></span> (Last updated <span class="bold-text">September 10, 2023</span>)
        </p>
        <div class="lead-smaller text-dark bg-primary-very-opaque px-3 py-1">
            <p class="mb-1">Or view the embedded PDF below:</p>
            <p>
                <a href="https://www.dropbox.com/scl/fi/t9ep5hfm6wlmyix17dzqx/Jacobs_CV_2023-09-10.pdf?rlkey=g88ma5smacduxv2bdf3l0tlsp&dl=0" class="dropbox-embed" data-height="420px"></a>
            </p>
        </div>
    </div>
</section>