<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="dissertation">
    <div class="my-auto">
        <h2 class="mb-2">Dissertation</h2>
        <div class="bg-primary-very-opaque p-2 mb-3">
            <img class="w-100 mb-2" src="{{ site.baseurl }}/assets/img/hegel_plot.png">
            <p class="lead text-dark mb-0 p-1"><span class="bold-text bigger-text">"Our Word is Our Weapon":
                    Text-Analyzing Wars of Ideas from the French Revolution to the First World War</span></p>

        </div>

        <a href="https://doi.org/10.7916/k9s3-tq95" target="_blank" rel="noopener noreferrer"
            class="no-underline hover-highlight">
            <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
                <div class="w-100 text-light">
                    <h4 class="mb-0">
                        <span><i class="fas fa-file-pdf me-2"></i>PDF from Columbia University Libraries</span>
                        <p class="mb-0 float-end"><i class="fa-solid fa-arrow-right"></i></p>
                    </h4>
                </div>
            </div>
        </a>

        <a href="https://marxdb.com" target="_blank" rel="noopener noreferrer" class="no-underline hover-highlight">
            <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
                <div class="w-100 text-light">
                    <h4 class="mb-0">
                        <span><i class="fa-solid fa-database me-2"></i>MarxDB.com: Browse dissertation
                            corpora/datasets</span>
                        <p class="mb-0 float-end"><i class="fa-solid fa-arrow-right"></i></p>
                    </h4>
                </div>
            </div>
        </a>

        <a href="https://github.com/jpowerj/our-word-is-our-weapon" target="_blank" rel="noopener noreferrer"
            class="no-underline hover-highlight">
            <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
                <div class="w-100 text-light">
                    <h4 class="mb-0">
                        <span><i class="fab fa-github fa-x me-2"></i>GitHub repo (dissertation code)</span>
                        <p class="mb-0 float-end"><i class="fa-solid fa-arrow-right"></i></p>
                    </h4>
                </div>
            </div>
        </a>

        <a href="https://github.com/jpowerj/marxdb" target="_blank" rel="noopener noreferrer" class="no-underline hover-highlight">
            <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
                <div class="w-100 text-light">
                    <h4 class="mb-0">
                        <span><i class="fab fa-github fa-x me-2"></i>GitHub repo (web app)</span>
                        <p class="mb-0 float-end"><i class="fa-solid fa-arrow-right"></i></p>
                    </h4>
                </div>
            </div>
        </a>

    </div>
</section>
