<!-- Links -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="links">
    <div class="my-auto">
        <h2 class="mb-5">Links</h2>
        {% for link in site.data.links %}
        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">{{ link.name }}</h4>
                <p class="mb-1 text-dark"><a class="text-dark" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.url_text }}</a></p>
                <p class="mb-1 text-dark">{{ link.description }}</p>
                <p class="mb-0">
                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-link fa-2x"></i>
                    </a>
                    {% if link.gh_url %}
                    <a href="{{ link.gh_url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>