<!-- Data / Software -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="data-software">
    <div class="my-auto">
        <h2 class="mb-5">Data / Software</h2>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="w-100 text-light">
                <h4 class="mb-0">Threadsheets: Weave Tabular Data into Weighted and Imputed Estimates</h4>
                <p class="mb-1 text-dark">Package in both Python and R allowing interactive specification and
                    visualization of data concordance tasks. Interfaces with GitHub and Google Sheets APIs to generate
                    grid of estimates color-coded by confidence levels.</p>
                <div class="text-dark">
                    <p class="mb-0">
                        <strong>Web App:</strong> Access at <a href="https://threadsheets.app">threadsheets.app</a>.
                    </p>
                    <p class="mb-1">
                        <a href="https://threadsheets.app/" class="software-link" title="Visit Homepage" target="_blank"
                            rel="noopener noreferrer">
                            <i class="fas fa-link fa-2x"></i>
                        </a>
                    </p>
                </div>
                <div class="text-dark">
                    <p class="mb-0">
                        <strong>Python Version:</strong> Install using <span class="code">pip install
                            threadsheets</span> or click <a
                            href="https://colab.research.google.com/github/jpowerj/threadsheets/blob/master/Demo.ipynb">here</a>
                        to open demo in
                        Google Colab. Updated March 12, 2023.
                    </p>
                    <p class="mb-1">
                        <a href="https://pypi.org/project/threadsheets/" class="software-link" title="Visit Page"
                            target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-python fa-2x"></i>
                        </a>
                        <a href="https://threadsheets.github.io/" class="software-link" title="Visit Homepage"
                            target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-file-text fa-2x"></i>
                        </a>

                        <a href="https://github.com/jpowerj/threadsheets" class="software-link" title="GitHub Repo"
                            target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i>
                        </a>
                    </p>
                </div>
                <div class="text-dark">
                    <strong>R Version:</strong> Install using <span
                        class="code">install.packages("threadsheetr")</span>. View vignettes at the threadsheetr <a
                        href="https://cran.r-project.org/">CRAN page</a>.
                </div>
                <p class="mb-0">
                    <a href="https://pypi.org/project/threadsheets/" class="software-link" title="Visit Page"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-r-project fa-2x"></i>
                    </a>
                    <a href="https://github.com/jpowerj/threadsheets" class="software-link" title="GitHub Repo"
                        target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i>
                    </a>

                    <a href="https://github.com/jpowerj/threadsheets" class="software-link" title="GitHub Repo"
                        target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="w-100 text-light">
                <h4 class="mb-0">MarxDB.com: Web App for Browsing the Marx-Engels Digital Cyclopedia</h4>
                <p class="mb-1 text-dark">Web app with ReactJS frontend and MongoDB backend, deployed using Vercel,
                    allowing browsing and searching various datasets compiled for my dissertation. Updated October 3,
                    2022.</p>
                <p class="mb-0">
                    <a href="https://marxdb.com" class="software-link" title="Visit Page" target="_blank"
                        rel="noopener noreferrer"><i class="fas fa-link fa-2x"></i></a>&nbsp;
                    <a href="https://github.com/jpowerj/marxdb" class="software-link" title="GitHub Repo"
                        target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
                </p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="w-100 text-light">
                <h4 class="mb-0">QConjoint: PHP server for running conjoint experiments in Qualtrics</h4>
                <p class="mb-1 text-dark">A php script that interacts with the Qualtrics interface, allowing survey
                    creators to send respondent-entered data (categorical or continuous) and receive randomly-generated
                    variations of this data, for populating a conjoint comparison table. Demo server <a
                        href="https://jjacobs.info/handle_qualtrics.php" target="_blank"
                        rel="noopener noreferrer">here</a>, and demo survey showing implementation <a
                        href="https://cumc.co1.qualtrics.com/jfe/form/SV_3WM8qu26hqannYW" target="_blank"
                        rel="noopener noreferrer">here</a>. Updated January 28, 2021.</p>
                <p class="mb-0"><a href="https://github.com/jpowerj/qualtrics-conjoint" class="software-link"
                        title="View on GitHub" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-github fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="w-100 text-light">
                <h4 class="mb-0">scipot: Topic Modeling in Reverse for Synthetic Document Generation</h4>
                <p class="mb-1 text-dark">Trains an Author-Topic Model on a collection of \(N\) documents with \(M\)
                    authors, then runs the model "in reverse" to generate synthetic documents via a user-specified
                    Dirichlet mixture \((\alpha_1, \ldots, \alpha_M)\), where \(\alpha_i\) represents the probability of
                    sampling from author \(i\)'s topic distribution when generating a new word. Updated June 3, 2020.
                </p>
                <p class="mb-0"><a href="https://scipot.github.io/" class="software-link" title="View on GitHub"
                        target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-5 bg-primary-very-opaque">
            <div class="w-100 text-light">
                <h4 class="mb-0">ngramdl: R functions for downloading and plotting ngram frequency from Google Books
                </h4>
                <p class="mb-1 text-dark">Mainly a fix of the <span class="code">ngramr</span> library to work with the
                    latest version of Google's Ngram Viewer. Run <span
                        class="code">github_install("jpowerj/ngramdl")</span> to install the package directly from
                    within R/R Studio (requires <span class="code">devtools</span> package), then use <span
                        class="code">ngram2csv(phrase_list, csv_filepath)</span> to download, or <span
                        class="code">ggram(phrase_list)</span> to plot within R. Updated June 3, 2020.</p>
                <p class="mb-0"><a href="https://github.com/jpowerj/ngramdl" class="software-link"
                        title="View on GitHub" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-github fa-2x"></i></a></p>
            </div>
        </div>
    </div>
</section>