<!-- Teaching -->

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="teaching">
    <div class="my-auto">
        <h2 class="mb-5">Teaching</h2>

        <h3 class="mb-1">At Georgetown</h3>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">DSAN 5000: Data Science and Analytics</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Fall 2023</span>
            </div>
        </div>
        
        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-5 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">DSAN 5100: Probabilistic Modeling and Statistical Computing</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Fall 2023</span>
            </div>
        </div>

        <h3 class="mb-1">At NYU</h3>

        {% include teaching_nyu.html %}

        <h3 class="mb-1">At Columbia</h3>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">QMSS5067: Natural Language Processing for the Social Sciences</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Summer 2021</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">POLS4700: Mathematical Methods for Political Science</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Fall 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">POLS4710: Principles of Quantitative Political Research</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Fall 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-5 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">POLS1201: Introduction to American Politics</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Fall 2016</span>
            </div>
        </div>

        <h3 class="mb-1">At Stanford</h3>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">CS109: Probability Theory for Computer Scientists</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Winter 2014, Spring 2014</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">CS103: Mathematical Foundations of Computing</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Autumn 2012, Winter 2013, Autumn 2013</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 flex-md-row mb-3 bg-primary-very-opaque">
            <div class="resume-content me-auto">
                <h4 class="mb-0">CS221: Artificial Intelligence Principles and Techniques</h4>
            </div>
            <div class="resume-date text-md-end align-self-center">
                <span class="text-dark">Summer 2013</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-5 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">CS90SI: Learn Web Development Through Non-Profit Projects</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Autumn 2013</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-1 text-dark">(Developed curriculum for new one-credit Computer Science course)</p>
            </div>
        </div>

        <h3 class="mb-1">At University of Maryland</h3>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">CMSC420: Data Structures</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Spring 2012</span>
                </div>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">CMSC250: Discrete Mathematics</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Fall 2011</span>
                </div>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">MATH003: Developmental Mathematics</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Fall 2010, Spring 2011</span>
                </div>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-5 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">CMSC132: Object-Oriented Programming II</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Spring 2010</span>
                </div>
            </div>
        </div>

        <h3 class="mb-1">Short Courses/Workshops</h3>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Mobile App Development with React Native</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Summer 2022</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Code for Palestine Summer Course</p>
                <p class="mb-0 text-dark">Ramallah, West Bank, Occupied Palestinian Territories</p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Design Thinking for Mobile App Development</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Summer 2019</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Code for Palestine Summer Course</p>
                <p class="mb-0 text-dark">Ramallah, West Bank, Occupied Palestinian Territories</p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Web Development with Flask and MySQL</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Summer 2018</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Code for Palestine Summer Course</p>
                <p class="mb-0 text-dark">Ramallah, West Bank, Occupied Palestinian Territories</p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Mobile App Development with Android Studio</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Summer 2017</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Code for Palestine Summer Course</p>
                <p class="mb-0 text-dark">Jericho, West Bank, Occupied Palestinian Territories</p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Game Theory and Mechanism Design</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Autumn 2013, Autumn 2014</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Stanford Splash! Program</p>
                <p class="mb-1 text-dark">Palo Alto, CA, USA</p>
                <p class="mb-0"><a href="Jacobs_GameTheoryAndMechanismDesign.pdf" class="paper-link" title="PDF"
                        target="_blank" rel="noopener noreferrer"><i class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-5 bg-primary-very-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Pledge No Allegiance: America Through A Hip Hop Lens</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">Autumn 2014</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">Stanford Splash! Program</p>
                <p class="mb-1 text-dark">Palo Alto, CA, USA</p>
                <p class="mb-0"><a href="http://prezi.com/uj6vtsorrdnk/?utm_campaign=share&utm_medium=copy&rc=ex0share"
                        class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i
                            class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

    </div>
</section>