<!-- Teaching -->

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="teaching">
    <div class="my-auto">
        <h2 class="mb-5">Teaching</h2>

        {% for item in site.data.teaching %}
        <h3 class="mb-1">{{ item.header }}</h3>
        {% if item.header == "At NYU" %}
            {% include teaching_nyu.html %}
        {% elsif item.header == "Tutoring Materials" %}
            {% include tutoring.html %}
        {% else %}
            {% for course in item.courses %}
                {% if forloop.last %}
                    {% assign div_mb = 5 %}
                {% else %}
                    {% assign div_mb = 3 %}
                {% endif %}

                
                <div class="resume-item d-flex flex-column col-md-12 mb-{{ div_mb }} bg-primary-very-opaque">
                    <div class="resume-content-header d-flex flex-md-row">
                        <h4 class="mb-0 flex-grow-1">
                            {% if course.url %} <a href="{{ course.url }}" target="_blank" style="text-decoration: none;"> {%- endif -%}
                            {% if course.dept_code and course.course_num %}
                              {{ course.dept_code }} {{ course.course_num }}:&nbsp;
                            {%- endif -%} {{ course.name }}{% if course.url %} <i class='bi bi-box-arrow-up-right ps-1'></i></a>{%- endif -%}</h4>
                        <div class="resume-date text-md-end align-self-center">
                            <span class="text-dark">{{ course.terms[0] }}</span>
                        </div>
                    </div>
                    {% if course.desc or course.loc or course.pdf_link %}
                    <div class="resume-content">
                        {% if course.desc %}
                        <p class="mb-0 text-dark"><i>{{ course.desc }}</i></p>
                        {% endif %}
                        {% if course.loc %}
                        <p class="mb-0 text-dark">{{ course.loc }}</p>
                        {% endif %}
                        {% if course.pdf_link %}
                        <p class="mb-0">
                            <a href="{{ course.pdf_link }}" class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-pdf fa-2x"></i></a>
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</section>