<div
    class="resume-item-nopad accordion accordion-flush jj-accordion d-flex flex-column col-md-12 mb-5 bg-primary-very-opaque">
    <div class="resume-content accordion-item">
        <div class="accordion-header">
            <button
                class="resume-item accordion-button d-flex course-header fg-primary-opaque jj-accordion-button collapsed"
                type="button" data-bs-toggle="collapse" data-bs-target="#dsua111-content" aria-expanded="true"
                aria-controls="collapseDSUA111">
                <h4 class="mb-0 course-name text-dark" id="dsua111-head">
                    DSUA-111: Data Science for Everyone
                </h4>
                <span class="ms-2 text-dark flex-grow-1" id="expand-text"></span>
                <div class="resume-date align-self-center">
                    <span class="text-dark text-md-end me-2">Spring, Summer (I/II), Fall 2020</span>
                </div>
            </button>
        </div>
        <div id="dsua111-content" class="accordion-collapse collapse" data-bs-parent="#dsua111-head">
            <div class="accordion-body jj-accordion-content">
                <p class="mb-0 text-dark">Fall 2020 Lecture Recordings:</p>
                <ul>
                    <li class="mb-0 text-dark">
                        2020-09-04: <strong>Course Introduction</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1x4M2noV7mLsNS9S9GvyWNRoKZVXy2RHq/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-00/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-09-11: <strong>Introduction to Python</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1Ivw1uQh7kDTb9z1ji5jsNNMeCogcrz-E/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-01/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-09-18: <strong>Python Data Types</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1y7OsuDJMneXphzcA-VltGOENnmxcb2fU/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-02/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-09-25: <strong>Causality and the Scientific Method</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1ug23FV_EmdKegtGKksihqdD-c2brNlRv/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-03/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-10-02: <strong>Python Sequences, Libraries</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1HKcICSgvS6H_tZf3LmHgRErpPyMBlLPB/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-04/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-10-09: <strong>Pandas!</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1GwjmUMz7qyiB8EXvRCKTCiyLS0BMS_DX/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-05/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-10-16: <strong>Descriptive Statistics, Visualization</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1v-swr2Ni62hAwkQelIhKTFiMJLy9Chgg/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-06/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-10-30: <strong>Python Functions, Law of Large Numbers</strong>[YouTube] [<a
                            href="https://drive.google.com/file/d/1L7XQJebuLUDxKvPUC4Zi13sN7LbrQD-O/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-07/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-11-06: <strong>Hypothesis Testing</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1Z2_6-xJhLdaN4ZgDos4k8K6envilKqNm/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-08/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-11-13: <strong>Regression</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/14im9FYOsvgeqLtdPNaO4N0KrjdlbUCUs/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-09/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-11-20: <strong>Evaluating Linear Regression</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1-Pkk9p_GT7vrXjUaQ7wM_x7Cj0nncmx0/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-10/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-12-04: <strong>Classification, Final Review</strong> [YouTube] [<a
                            href="https://drive.google.com/file/d/1bjJawJbdwpnfVPufRJ8uWkOk-F6-fBFe/view?usp=share_link"
                            target="_blank" rel="noopener noreferrer">Video Download</a>] [<a
                            href="https://jjacobs.me/dsua111-sections/week-11/#/" target="_blank"
                            rel="noopener noreferrer">Slides</a>]
                    </li>
                </ul>
                <p class="mb-0 text-dark">Spring 2020 Lecture Recordings:</p>
                <ul>
                    <li class="mb-0 text-dark">
                        2020-03-27: <strong>If Statements, Loops, Law of Large Numbers</strong> [<a
                            href="https://nyu.zoom.us/rec/share/7upECeqp8WxLXpXL7njHXKk4AJz7eaa8hCAeq_YFzUbCEmQjy8Qzjv-MitweMZBk?startTime=1585252985000"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/iYpqwzAR0kY"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/5r4kg79sm4ybg90/DSUA111_2020-03-27.mp4?dl=1" target="_blank"
                            rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-04-03: <strong>Statistical Simulations and Hypothesis Testing</strong> [<a
                            href="https://nyu.zoom.us/rec/share/9MpnBJ_d521Jeq_suECYRrMYGInFX6a81SlIqPFexIvreOKRQqhszL4-MBZGxKs?startTime=1585855301000"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/yYsnx960yrg"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/53zt91242hj3pqt/DSUA111_2020-04-03_Lab6.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-04-10: <strong>Permutation Tests</strong> [<a
                            href="https://nyu.zoom.us/rec/share/65FVKqn27nxLTYnO8mLgeLwGNInKT6a8hiIf_6IFnUk3tEOtjLCk2bvBQWzetlix?startTime=1586470639000"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/wVvi-x0RRY4"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/ldqcdbr8s8qp22d/DSUA111_2020-04-10_Lab7.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-04-17: <strong>Resampling and Confidence Intervals</strong> [<a
                            href="https://nyu.zoom.us/rec/share/4ZZ3CYm3_0dLa9bQxkfVQfV4MqXeX6a8gXMa-_dfnkeq2U4iPjHmbb8mXx9cJmND"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/ZOSWI7FMdis"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/655zzllwkdhj0n3/DSUA111_2020-04-17_Lab8.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-04-17 (Extra Session): <strong>Regression</strong> [<a
                            href="https://nyu.zoom.us/rec/share/3-9ef5qv2V5OWtaT6EXPUfc-FarsT6a8gHIYrPELy0sk5fNZoJSGWOdE2Y444TnJ?startTime=1587161028000"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/_DgwuSgdvyk"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/jud9zihhbo5es8m/DSUA111_2020-04-17_Regression.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-04-24: <strong>Correlation, Distribution of Sample Means</strong> [<a
                            href="https://nyu.zoom.us/rec/share/opN5KJTd11lIUKPI60PuVY0HPpbleaa8gCMZ_fUKmRnnHz5AH1O6Ynglaz3CLkrM?startTime=1587767965000"
                            target="_blank" rel="noopener noreferrer">Zoom</a>] [<a href="https://youtu.be/b1x2-WWgcfI"
                            target="_blank" rel="noopener noreferrer">YouTube</a>] [<a
                            href="https://www.dropbox.com/s/ezm08ujttymdyi5/DSUA111_2020-04-24_Sample_Means.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                    <li class="mb-0 text-dark">
                        2020-05-01: <strong>Estimation via Regression</strong> [<a
                            href="https://nyu.zoom.us/rec/share/v8t7MO735m1Ibp3X5Xr6BKAiAb3Daaa8gyEbr_MEnRk2adLzrAR_8Jk1V7iee4VA?startTime=1588619456000"
                            target="_blank" rel="noopener noreferrer">NYU Zoom</a>] [<a
                            href="https://youtu.be/QOQh-I1vRIM" target="_blank" rel="noopener noreferrer">YouTube</a>]
                        [<a href="https://www.dropbox.com/s/rreerx6b836duz8/DSUA111_2020-05-01_Estimation.mp4?dl=1"
                            target="_blank" rel="noopener noreferrer">Direct Download</a>]
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
