---
import { Image } from 'astro:assets'

import type { iconsType } from 'astro-pure/types'
import { Button, Icon } from 'astro-pure/user'
import Collapse from '@/components/user/Collapse.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'georgetown', text: 'Georgetown' },
  { depth: 2, slug: 'nyu', text: 'NYU' },
  { depth: 2, slug: 'columbia', text: 'Columbia' },
  { depth: 2, slug: 'stanford', text: 'Stanford' },
  { depth: 2, slug: 'umd', text: 'Maryland' }
]
---

<PageLayout title='Teaching' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='georgetown'>Georgetown</h2>
  <ProjectSection
    class="my-2"
    project={[
      {
        name: 'DSAN 5300: Statistical Learning',
        description: 'Spring 2025',
        links: [
          // { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://jjacobs.me/dsan5300-01' }
        ]
      },
      {
        name: 'DSAN 5450: Data Ethics and Policy',
        description: 'Spring 2025',
        links: [
          // { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://jjacobs.me/dsan5450' }
        ]
      },
      {
        name: 'DSAN 5500: Data Structures, Objects, and Algorithms in Python',
        description: 'Spring 2025',
        links: [
          // { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://jjacobs.me/dsan5500' }
        ]
      }
    ]}
  />

  <h2 id='nyu'>NYU</h2>

  <ProjectSection
    class="my-2"
    project={[
      {
        name: 'DSUA 111: Data Science for Everyone',
        description: '2019-2020',
        links: [
          { type: 'github', href: 'https://github.com/IJNKAWAKAZE/arknights_bot' },
          { type: 'site', href: 'https://t.me/PtiIopsis_bot' }
        ]
      }
    ]}
  />
  <Collapse title='DSUA 111: Data Science for Everyone Lecture Videos (Click to Expand / Collapse)'>
    <ProjectSection
      project={[
        {
          name: 'Lecture 1',
          description: 'Introduction to Python',
          links: [{ type: 'github', href: 'https://github.com/jpowerj/dsua111-sections' }]
        },
        {
          name: 'Lecture 2',
          description: 'Introduction to Data Science',
          links: [
            { type: 'site', href: 'https://github.com/jpowerj/dsua111-sections' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='columbia'>Columbia</h2>

  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'QMSS 6750: Natural Language Processing',
        description: 'Columbia Quantitative Methods in the Social Sciences (QMSS) Program',
        links: [{ type: 'github', href: 'https://github.com/jpowerj/qmss' }]
      },
      {
        name: 'POLS 4712: Quantiative Political Analysis',
        description: 'Graduate Political Science Course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/jpowerj'
          }
        ]
      },
      {
        name: 'HRTS 3001: Introduction to Human Rights',
        description: 'Columbia Human Rights Program',
        links: [
          {
            type: 'github',
            href: 'https://github.com/jpowerj'
          }
        ]
      },
      {
        name: 'POLS 1201: Introduction to American Politics',
        description: 'Barnard College',
        links: [
          {
            type: 'github',
            href: 'https://github.com/jpowerj'
          }
        ]
      }
    ]}
  />

  <h2 id='stanford'>Stanford</h2>

  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'CS 103: Mathematical Foundations of Computing',
        description: '2012 - 2014',
        links: [{ type: 'github', href: 'https://cs103.stanford.edu' }]
      },
      {
        name: 'CS 109: Probability Theory for Computer Scientists',
        description: '2012 - 2014',
        links: [
          {
            type: 'github',
            href: 'https://cs109.stanford.edu'
          }
        ]
      },
      {
        name: 'CS 229: Machine Learning',
        description: '2012 - 2014',
        links: [
          {
            type: 'github',
            href: 'https://cs229.stanford.edu'
          }
        ]
      },
    ]}
  />

  <h2 id='umd'>Maryland</h2>

  <ProjectSection
    class="my-2"
    project={[
      {
        name: 'CMSC 420: Data Structures',
        description: "Data structures class for UMD juniors and seniors",
        links: [{ type: 'github', href: 'https://github.com/jpowerj' }]
      }
    ]}
  />
</PageLayout>
